.div {
    padding-left: 10%;
    padding-right: 10%;
}

.heading {
    padding-top: 5%;
    padding-bottom: 2%;
}

.card{
    margin-left: 10%;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: fill ;
}